.button__holder {
    display: flex;
    justify-content: center;
}

.button {
    width: 40%;
    height: 3em;
    background-color: #F16249;
    border: none;
    border-radius: 25px;
    color: #f4f3f2;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}